/mapsimg/*.png
*.png
*.h3m
/map_compare.php
/dev
/maps/*
/maps/*.*
/fun/access.php
/css/*.gif
/index.php
/css/img
/css/back/*.gif
/maps/extradir_hpn/300 Spartans/Data/300/*.jpg
/mapscam/*.h3c
/mapsinfo/*
/mapsinfo/*.*
*.h3c
extradir_hpn
extradir_map4heroes
/mapreadfile.php
